html, body {
    height: 100%;
}

.header{
    background-color: #4B9EBF;
    padding: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    background-color: #4B9EBF;
    justify-content: center;
    align-content: center;
    padding: 10px;
    color: white;
}

.topLeft{
    display: flex;
    padding: 10px;
    width: auto;
    align-content: center;
    justify-content: center;
}

.topRight{
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
    margin: 5px;
}

.topDiv{
    flex-direction: row;
    display: flex;
    margin: 5px;
}

.bottomDiv{
    padding: 10px;
}

.eggImage{
    max-height: 500px;
    width: auto;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'Extra-light 200';
    margin-bottom: 0
}

li {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 'Extra-light 200';
    list-style-type: circle;
}

.blueButton {
    background-color: #4B9EBF;
    color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    border-radius: 4px;
}


@media only screen and (max-width: 600px) {

    .topDiv {
         flex-direction: column;
    }

    .eggImage{
        max-width: 400px;
        height: auto;
    }
}

/* Sign Up button */
.signUpButton {
    text-align: center;
}

/* Modal CSS */
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
